:root.theme-dark {
  --font: 'IBM Plex mono';
  --font-size: 18px;
  --title-color: #DB00FF;
  --sub-text-color: #000028;
  --backgroung-image: url(../images/cover-image-dark.png);
  --text-color: #F1B2CE;
  --btn-color: #FF0070;
  --accent-color: #FF0070;
  --bg-color: #000028;
}

.theme-dark .decorative__element {
  display: flex;
}

.theme-dark .header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.40);
}

@media (prefers-color-scheme: dark) {
  :root {
    --title-color: #DB00FF;
    --text-color: #F1B2CE;
    --sub-text-color: #000028;
    --accent-color: #FF0070;
    --btn-color: #FF0070;
    --backgroung-image: url(../images/cover-image-dark.png);
    --bg-color: #000028;
  }
  
  .decorative__element {
    display: flex;
  }
  
  .header__theme-menu-button:hover {
    border: 1px solid rgba(255, 0, 112, 0.40);
  }
}

@media (min-width: 1024px) {
  .header__title {
    text-shadow: 4px 4px 0 #FF0070;
  }
  .footer__title {
    text-shadow: 4px 4px 0 #FF0070;
  }
}