:root.theme-dark {
  --font: 'IBM Plex mono';
  --font-size: 18px;
  --title-color: #DB00FF;
  --sub-text-color: #000028;
  --backgroung-image: url(../images/cover-image-dark.png);
  --text-color: #F1B2CE;
  --btn-color: #FF0070;
  --accent-color: #FF0070;
}

.theme_dark .decorative__element {
  display: flex;
}

.theme_dark .header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.40);
}