

:root.theme-light {
  --font: 'IBM Plex mono';
  --font-size: 18px;
  --title-color: #FFC2E6;
  --sb-text-color: #353430;
  --bg-img: url(../images/cover-image-light.png);
  --text-color: #353430;
  --btn-color: #353430;
  --acnt-color: #FF8DCB;
}

.theme-light .header__rec {
  display: none;
}

.theme-light .header__theme-menu-button:hover {
  border: 1px solid rgba(50, 49, 45, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    --font: 'IBM Plex mono';
    --font-size: 18px;
    --title-color: #FFC2E6;
    --sb-text-color: #353430;
    --bg-img: url(../images/cover-image-light.png);
    --text-color: #353430;
    --btn-color: #353430;
    --acnt-color: #FF8DCB;
  }

  .header__rec {
    display: none;
  }

  .header__theme-menu-button:hover {
    border: 1px solid rgba(50, 49, 45, 0.4);
  }
}