.page.theme_light {
  --title-color: #FFC2E6;
<<<<<<< HEAD
  --text-color: #353430;
  --sub-text-color: #353430;
  --accent-color: #ff8dcb;
  --btn-color:#353430;
  --backgroung-image: url(../images/cover-image-light.png);
=======
  --sub-text-color: #353430;
  --backgroung-image: url(../images/cover-image-light.png);
  --text-color: #353430;
  --btn-color: #353430;
  --accent-color: #FF8DCB;
>>>>>>> 8fe1f79657cfe5b98feee1020df7bd797a5f7fc6
}

.theme-light .header__rec {
  display: none;
}

.theme-light .header__theme-menu-button:hover {
  border: 1px solid rgba(50, 49, 45, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    --title-color: #FFC2E6;
    --text-color: #353430;
    --sub-text-color: #353430;
    --accent-color: #ff8dcb;
    --btn-color:#353430;
    --backgroung-image: url(../images/cover-image-light.png);
  }
 .theme-light .header__rec {
  display: none;
}

.theme-light .header__theme-menu-button:hover {
  border: 1px solid rgba(50, 49, 45, 0.4);
}
}


@media (min-width: 1024px) {
  .header__title {
    text-shadow: 4px 4px 0 #FF0070;
  }
  .footer__title {
    text-shadow: 4px 4px 0 #FF0070;
  }
}