/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font, monospace);
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 23.4px;
  background-image: var(--bg-img);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: #000028;
}

.header {
  min-height: 100vh;
  height: 100vh;
  padding: 20px;
  display: grid;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
  box-sizing: border-box;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  padding: 1.5px 13px;
  color: var(--btn-color);
  border: none;
  text-align: center;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--btn-color);
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--btn-color);
}

.header__rec {
  position: absolute;
  text-transform: uppercase;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--btn-color);
  text-align: center;
  padding-right: 8px;
  margin: 20px;
  font-size: inherit;
}

.header__rec::after {
  display: block;
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--acnt-color);
  filter: drop-shadow(0px 0px 4px var(--acnt-color));
}

.decorated-zone::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  border-top: 1px solid var(--btn-color);
  border-right: 1px solid var(--btn-color);
  width: 25px;
  height: 25px;
  margin: 20px;
}

.decorated-zone::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  border-bottom: 1px solid var(--btn-color);
  border-left: 1px solid var(--btn-color);
  width: 25px;
  height: 25px;
  margin: 20px;
}

.header__title {
  margin-left: -20px;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--acnt-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 82.5%;
}

.header__text {
  max-width: 491px;
  justify-self: end;
  align-self: center;
}

.title-decor {
  font-weight: 700;
  background-color: var(--acnt-color);
  font-size: var(--font-size);
  line-height: 23.4px;
  color: var(--sb-text-color);
}

.section__title {
  color: var(--btn-color);
  font-weight: 700;
  line-height: 23.4px;
  font-size: var(--font-size);
}

.content__text,
.card__text,
.tip__text {
  font-size: var(--font-size);
  color: var(--text-color);
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--acnt-color);
  color: inherit;
}

.link:hover {
  border-bottom: 1px solid var(--text-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  border: 1px solid var(--text-color);
}

.reasons {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 60px 20px 0;
  gap: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.concentration {
  padding: 80px 20px;
}

.concentration__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-top: 20px;
}

.concentration .section__title {
  max-width: 315px;
}

.card__title {
  margin-bottom: 10px;
}

.tips {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 0 20px 80px;
  gap: 20px;
}

.tip__title {
  font-weight: 400;
}

.tips__content {
  display: grid;
  gap: 20px;
}

.gallery {
  padding: 0 20px 60px;
}

.gallery__title {
  margin-bottom: 20px;
}

.gallery__content {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.gallery__image:nth-child(1) { grid-area: sunset; }
.gallery__image:nth-child(2) { grid-area: ice-cream; }
.gallery__image:nth-child(3) { grid-area: tape; }
.gallery__image:nth-child(4) { grid-area: books; }
.gallery__image:nth-child(5) { grid-area: street; }

.footer {
  min-height: 100vh;
  height: 100vh;
  padding: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.footer__title {
  text-shadow: 4px 4px 0 var(--acnt-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--title-color);
  font-weight: 700;
  line-height: 82.5%;
}

@media (width <= 768px) {
  .header__theme-menu {
    justify-self: end;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: column;
    gap: 13px;
  }

  .header__text {
    max-width: 364px;
  }

  .reasons {
    grid-template-columns: 1fr 2fr;
  }

  .concentration__content {
    grid-template-columns: 1fr;
  }

  .concentration .section__title {
    max-width: 236px;
  }
  
  .tips {
    grid-template-columns: 1fr 2fr;
  }
}

@media (width <= 375px) {
  .header {
    padding: 10px;
  }

  .header__title {
    margin-left: 0;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header__text {
    max-width: 355px;
  }

  .header__rec {
    margin: 10px;
  }
  
  .decorated-zone::before {
    margin: 10px;
  }
  
  .decorated-zone::after {
    margin: 10px;
  }

  .reasons,
  .tips {
    grid-template-columns: 1fr;
    padding: 40px 10px 0;
  }

  .concentration {
    padding: 50px 10px;
  }

  .concentration .section__title {
    max-width: 100%;
  }

  .gallery {
    padding: 0 10px 40px;
  }

  .gallery__content {
    grid-template-columns: 1fr;
    grid-template-areas: 
      "sunset"
      "ice-cream" 
      "tape"
      "books"
      "street";
  }

  .footer {
    padding: 10px;
  }

  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}