.page {
  margin: 0 auto;
  font-family: var(--font, monospace);
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 23.4px;
  background-image: var(--backgroung-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}


.header {
 min-block-size: 100vh;
  padding: 20px;
  display: grid;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
}


.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  padding: 0 13px;
  color: var(--btn-color);
  text-align: center;
  border: none;
  background: transparent;
}


.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--btn-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--btn-color);
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.40);
  cursor: pointer;
}


.decorative__element {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--btn-color);
  text-align: center;
  padding-right: 8px;
  text-transform: uppercase;
  margin: 20px;
}

.decorative__element::after {
  display: block;
  content: "";
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  fill: var(--accent-color);
  filter: drop-shadow(0px 0px 4px var(--accent-color));
}


.frame::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  border-top: 1px solid var(--btn-color);
  border-right: 1px solid var(--btn-color);
  inline-size: 25px;
  block-size: 25px;
  margin: 20px;
}

.frame::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  border-bottom: 1px solid var(--btn-color);
  border-left: 1px solid var(--btn-color);
  inline-size: 25px;
  block-size: 25px;
  margin: 20px;
}



.header__title {
  margin-left: -20px;
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--title-color);
  font-weight: 700;
  line-height: 82.5%;
}

.title-decor {
  font-weight: 700;
  background-color: var(--accent-color);
  font-size: var(--font-size);
  line-height: 23.4px;
  color: var(--sub-text-color);
}

.header__text {
  max-inline-size: 491px;
  max-block-size: 71px;
  justify-self: end;
  align-self: center;
}

.title-decor {
  font-weight: 700;
  background-color: var(--accent-color);
  font-size: var(--font-size);
  line-height: 23.4px;
  color: var(--sub-text-color);
}

.section__title {
color: var(--btn-color);
  font-weight: 700;
  line-height: 23.4px;
  font-size: var(--font-size);
}

.section__title--narrow {
  max-inline-size: 315px;
}

.section__subtitle {
  margin-bottom: 10px;
}

.section__text {
  font-size: var(--font-size);
  color: var(--text-color);
}

.section__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.section__link:hover {
  border-bottom: 1px solid var(--text-color);
}

.section__link:focus {
  outline: none;
}

.section__link:focus-visible {
  border: 1px solid var(--text-color);
}

 .reasons {
  display: grid;
  grid-template-columns: 34% 66%;
  padding-block-start: 60px;
  margin: 0 20px;
 }

.section--why {
  display: grid;
  grid-template-columns: 34% 66%;
  padding-block-start: 60px;
}

.section__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
 }
 
.content  p:first-of-type {
  padding-block-end: 10px;
}


.section--distractions {
  padding-block-start: 80px;
  padding-block-end: 80px;
}

.section__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding-block-start: 20px;
}

.section__card {
  display: flex;
  flex-direction: column;
}



.section--solutions {
  display: grid;
  grid-template-columns: 34% 66%;
  padding-block-end: 80px;
}

.section__tip {
  margin-bottom: 20px;
}

.section__tip-title {
  font-weight: 400;
}

.section__tip:last-child {
  margin-bottom: 0;
}



.section--gallery {
  padding-block-end: 60px;
}

.gallery {
  margin-top: 20px;
  display: grid;
  gap: 20px;
  grid-template-areas: inherit;
}

.gallery__item {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.gallery__item:first-of-type {
  grid-column: 1 / 3;
}

.gallery__item:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.gallery__image:nth-of-type(3) {
  grid-row: 2/4;
}

.gallery__image:nth-of-type(4) {
  grid-column: 2/3;
  grid-row: 1/3;
}

.gallery__image:nth-of-type(5) {
  grid-column: 2/4;
}

.gallery__item:last-of-type {
  grid-column: 2 / 4;
}


.footer {
  min-block-size: 100vh;
  padding: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__title {
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  color: var(--title-color);
  font-weight: 700;
  line-height: 82.5%;
}


@media (max-width: 769px) {
  .header__theme-menu {
    display: flex;
    justify-content: flex-end;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .header__text {
    max-inline-size: 364px;
  }

  .concentration__content {
    grid-template-columns: 1fr;
  }

  .section__title--narrow {
    max-inline-size: 236px;
  }
}

@media (max-width: 376px) {
  .header {
    padding: 10px;
  }

  .header__theme-menu {
    display: flex;
    justify-content: flex-end;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .header__title {
    margin-left: 0;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header__text {
    max-inline-size: 100%;
  }

  .header__rec {
    top: 10px;
    right: 38px;
  }

  .decorated-zone::before {
    top: 10px;
    right: 10px;
  }

  .decorated-zone::after {
    bottom: 10px;
    left: 10px;
  }

  .reasons,
  .tips {
    grid-template-columns: 1fr;
    padding: 40px 10px;
  }

  .concentration {
    padding: 50px 10px;
  }

  .concentration .section__title {
    max-inline-size: 100%;
  }

  .gallery {
    padding: 0 10px 40px;
  }

  .gallery__content {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .gallery__image:nth-child(1),
  .gallery__image:nth-child(2),
  .gallery__image:nth-child(3),
  .gallery__image:nth-child(5) {
    grid-column: 1;
    grid-row: auto;
  }

  .footer {
    padding: 10px;
  }

  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}