* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

.page {
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font);
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 23.4px;
  background-color: var(--bg-color);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.section__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.section__link:hover {
  border-bottom: 1px solid var(--text-color);
}

.section__link:focus {
  outline: none;
}

.section__link:focus-visible {
  border: 1px solid var(--text-color);
}

.decorative__element {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--btn-color);
  text-align: center;
  padding-right: 8px;
  text-transform: uppercase;
  margin-right: 20px;
}

.decorative__element::after {
  display: block;
  content: "";
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  fill: var(--accent-color);
  filter: drop-shadow(0px 0px 4px var(--accent-color));
}

.frame::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  border-top: 1px solid var(--btn-color);
  border-right: 1px solid var(--btn-color);
  inline-size: 25px;
  block-size: 25px;
  margin-right: 20px;
}

.frame::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  border-bottom: 1px solid var(--btn-color);
  border-left: 1px solid var(--btn-color);
  inline-size: 25px;
  block-size: 25px;
  margin: 20px;
}

.header {
  margin-top: 20px;
  min-height: 100vh;
  display: grid;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
  background-image: var(--backgroung-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 0px 13px;
  background-color: transparent;
  text-transform: lowercase;
  border: none;
  color: var(--btn-color);
  text-align: center;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--btn-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--btn-color);
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.40);
  cursor: pointer;
}

.header__title {
  margin: -15px 0 0 0;
  color: var(--title-color);
  text-shadow: 4px 4px var(--accent-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 83%;
}

.header__text {
  margin-top: 112px;
  margin-bottom: 134px;
  margin-right: 20px;
  max-width: 491px;
  max-height: 71px;
  justify-self: end;
  align-self: center;
}

.section--why {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto;
  gap: 10px;
  grid-template-areas: "quest stream"
  ". dof";
  margin-bottom: 40px;
  padding: 50px 20px;
}

.question {
  grid-area: quest;
}

.stream {
  grid-area: stream;
}

.dof {
  grid-area: dof;
  margin-top: 10px;
}

.title-decor {
  font-weight: 700;
  background-color: var(--accent-color);
  font-size: var(--font-size);
  line-height: 23.4px;
  color: var(--sub-text-color);
}

.section__text {
  font-size: var(--font-size);
  color: var(--text-color);
}

.section__title {
  color: var(--btn-color);
  font-weight: 700;
  line-height: 23.4px;
  font-size: var(--font-size);
}

.section__text_one {
  padding-top: 10px;
  padding-left: -50px;
}

.section--distractions {
  margin: -20px 20px 0 20px;
}

.section__title--narrow {
  width: 315px;
  margin-bottom: 20px;
}

.section__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr, auto;
  gap: 20px
}

.section__card {
  width: 315px;
}

.section__text_two {
  padding: 11px 0 0 0;
}

.section--solutions {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  margin-top: 80px;
  padding: 0 20px;
  gap: 10px;
}

.section__tip {
  padding-top: 20px;
}

.section__text_three {
  padding-top: 10px;
}

.section--gallery {
  margin: 80px 20px;
}

.gallery {
  margin-top: 20px;
  display: grid;
  gap: 20px;
  grid-template-areas: 
  "mont mont ice"
  "cas book ice"
  "cas street street";
}

.gallery__item {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.gallery__item:first-of-type {
  grid-area: mont;
}

.gallery__item:nth-of-type(2) {
  grid-area: ice;
}

.gallery__item:nth-of-type(3) {
  grid-area: cas;
}

.gallery__item:nth-of-type(4) {
  grid-area: book;
}

.gallery__item:nth-of-type(5) {
  grid-area: street;
}

.footer {
  min-height: 100vh;
  margin-top: -20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__title {
  margin-top: 40px;
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  color: var(--title-color);
  font-weight: 700;
  line-height: 82.5%;
}

@media (max-width: 769px) {

  .header {
    height: 1005px;
  }

  .header__theme-menu {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    margin-top: -15px;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .header__title {
    margin-bottom: 10px;
  }

  .header__text {
    width: 364px;
    min-height: 117px;
    margin-top: 80px;
  }

  .section--why {
    gap: 10px 18px;
  }

  .question {
    width: 237px;
  }

  .section__grid {
    display: flex;
    flex-direction: column;
  }

  .section__card {
  width: 728px;
  }
  .section--solutions {
    gap: 18px;
    margin-top: 77px;
  }

  .concentration__content {
    grid-template-columns: 1fr;
  }

  .section__title--narrow {
    max-inline-size: 236px;
  }
  
  .footer {
    height: 1010px;
  }
}

@media (max-width: 377px) {
  * {
    margin: 0;
    padding: 0;
    max-width: 370px;
  }
  .page {
      overflow-x: hidden;
      width: 100%;
  }

  .header {
    margin-top: 10px;
    height: 100vh;
  }

  .decorative__element {
    margin: 0 5px 10px 0;
  }

  .frame::before {
    margin: 0 10px;
  }

  .frame::after {
    margin: 10px;
  }

  .title-decor {
    width: 356px;
    max-width: 100%;
  }

  .header__theme-menu {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    margin-top: 65px;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .header__title {
    margin-left: 5px;
    margin-top: 70px;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header__text {
    margin-left: 10px;
    max-inline-size: 355px;
    margin-top: 45px;
  }

  .section--solutions {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 100%;
  } 

  .question {
    width: 100%;
  }

  .section--why {
    display: flex;
    flex-direction: column;
    margin-top: -20px;
    padding-left: 10px;
    padding-right: 10px;
    gap: 20px;
    width: 100%;
  }

  .section__card {
    width: 350px;
    margin-right: 0;
  }

  .dof {
    margin-top: 1px;
  }

  .section--distractions {
    margin-top: -43px;
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, 1fr);
  }

  .section__title--narrow {
    max-inline-size: 100%;
  }

  .section__title--solution {
    width: 360px;
    max-width: 100%;
  }
  
  .section__tip {
    width: 356px;
     max-width: 100%;
  }

  .reasons,
  .tips {
    padding: 40px 10px;
  }

  .concentration {
    padding: 50px 10px;
  }

  .concentration .section__title {
    max-inline-size: 100%;
  }

  .section--gallery {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .gallery {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

  .gallery__content {
    grid-template-columns: 1fr;
  }

  .footer {
    max-height: 100vh;
    margin-top: -30px;
    width: 100%;
  }

  .footer__title {
    margin-bottom: 50px;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}